{% extends 'base.twig' %}

{% block title %}Index{% endblock %}

{% block content %}
<div id="left-selector" class="data-block"></div>
<div id="middle-selector" class="data-block"></div>
<div id="right-selector" class="data-block"></div>
{% endblock %}
