@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('../fonts/modernpictogramspro_234.eot');
    src: url('../fonts/modernpictogramspro_234?#iefix') format('embedded-opentype'),
		url('../fonts/modernpictogramspro_234.woff') format('woff'),
		url('../fonts/modernpictogramspro_234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "Apercu-Light";
	src: url('../fonts/apercu_light.eot');
	src: url('../fonts/apercu_light.eot?#iefix') format('opentype'),
		url('../fonts/apercu_light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Apercu-Light-Italic";
	src: url('../fonts/apercu_light_italic.eot');
	src: url('../fonts/apercu_light_italic.eot?#iefix') format('opentype'),
		url('../fonts/apercu_light_italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Apercu-Regular";
	src: url('../fonts/apercu_regular.eot');
	src: url('../fonts/apercu_regular.eot?#iefix') format('opentype'),
		url('../fonts/apercu_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Apercu-Regular-Italic";
	src: url('../fonts/apercu_regular_italic.eot');
	src: url('../fonts/apercu_regular_italic.eot?#iefix') format('opentype'),
		url('../fonts/apercu_regular_italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Apercu-Bold";
	src: url('../fonts/apercu_bold.eot');
	src: url('../fonts/apercu_bold.eot?#iefix') format('opentype'),
		url('../fonts/apercu_bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Apercu-Bold-Italic";
	src: url('../fonts/apercu_bold_italic.eot');
	src: url('../fonts/apercu_bold_italic.eot?#iefix') format('opentype'),
		url('../fonts/apercu_bold_italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Apercu-Mono";
	src: url('../fonts/apercu_mono.eot');
	src: url('../fonts/apercu_mono.eot?#iefix') format('opentype'),
		url('../fonts/apercu_mono.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
